.container{
    background-color: #122651;
    height: 96px;
}

.logo{
    margin-left: 8%;
    margin-top: 5px;
}

.content_header{
    display: flex;
    align-items: center;
}

.navegacao_header {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin-right: 8%;
    font-family: 'Inter', sans-serif;
}

.lista {
    display: flex;
    list-style: none;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 18px;
    transition: color 0.3s ease;
}

.link:hover {
    color: #889FCF; 
}