.caixa_menu{
    position: absolute;     
    top: 100%;            
    left: 190px;             
    background-color: #122651d9;
    height: 197px;
    margin: 20px 0 0 0;      
    width: 228px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    z-index: 1000;  
}

.navicone{
    height: 30px;
    width: auto;
    margin-left: 180px;
}

.caixa_menu ul li{
    list-style: none;
    text-decoration: none;
    margin-left: 10px;
    font-family: 'Inter';
    font-weight: 650;
    line-height: 37px;
    position: relative;
    font-size: 17px;
}

.navs{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 20px;
}

.caixa_menu ul li:hover{
    /* background-color: #122651cf; */
    border: solid 1px white;
    width: 163.3px;
    margin-left: 10px;
    height: 35px;
    border-radius: 10px;
}